@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS P Gothic", Verdana, sans-serif;
}

.yy-fontsize-09 {
  font-size: 0.9rem;
}

.yy-fontsize-h5 {
  font-size: 1.25rem;
}

.yy-vertical-align-middle {
  display: table-cell;
  vertical-align: middle;
}

.yy-preview-size {
  width: 150px;
  height: 150px;
}

.yy-review-img {
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
  background-size: cover;
}

.yy-avatar-img {
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 5px;
  width: 220px;
  height: 220px;
  background-size: cover;
  border: 3px solid #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.yy-avatar-thumbnail-img {
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  width: 1.35rem;
  height: 1.35rem;
  background-size: cover;
  border-radius: 5px;
}

.yy-overflow-hidden {
  overflow: hidden;
}

.yy-clicked {
  filter: alpha(opacity=65);
  box-shadow: none;
  opacity: .65;
}

.yy-word-wrap {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.yy-review-word-wrap {
  line-height: 1.5rem;
  max-height: 6rem;
  position: relative;
  overflow: hidden;
}

.yy-review-word-wrap:before, .yy-review-word-wrap:after {
  position: absolute;
  background: #fff;
}

.yy-review-word-wrap:before {
  content: "･･･";
  bottom: 0;
  right: 0;
}

.yy-review-word-wrap:after {
  content: "";
  width: 100%;
  height: 100%;
}

.yy-body {
  min-height: 100vh;
  padding-top: 4rem;
}

.yy-outline {
  border: 1px solid #4682b4;
  border-radius: 5px;
}

.yy-outline-top {
  border-top: 1px solid #4682b4;
}

.yy-outline-bottom {
  border-bottom: 1px solid #4682b4;
}

.yy-bg-white {
  background-color: white !important;
}

.yy-bg-midnightblue {
  background-color: #202f55 !important;
}

.yy-bg-powderblue {
  background-color: #bccddb !important;
}

.yy-bg-test {
  background-color: #4682b4 !important;
}

.yy-bg-body {
  background: -webkit-linear-gradient(right, #f0f8ff, white 3%, white 97%, #f0f8ff);
  background: linear-gradient(to left, #f0f8ff, white 3%, white 97%, #f0f8ff);
}

.yy-bg-sidebar {
  background-color: white !important;
}

.yy-bg-sidebar.active {
  color: black !important;
  border-left: 2px solid #202f55;
}

.yy-bg-sidebar:focus, .yy-bg-sidebar:hover {
  background-color: #f0f8ff !important;
}

.yy-review-kind {
  cursor: pointer;
}

.yy-legal h1, .yy-privacy h1, .yy-about h1 {
  margin-bottom: 30px;
  margin-top: 30px;
}

.yy-legal h2, .yy-privacy h2, .yy-about h2 {
  font-size: 16px;
}

.yy-about h2 {
  font-weight: bold;
}

.yy-privacy h3 {
  font-weight: bold;
  font-size: 100%;
}

.yy-about h3 {
  padding-left: 16px;
  border-left: 4px solid #ddd;
  font-weight: bold;
  font-size: 14px;
}

.yy-legal p, .yy-legal ol, .yy-privacy p, .yy-privacy ol, .yy-about p, .yy-about ul {
  font-size: 12px;
}

.yy-legal p, .yy-privacy p, .yy-about p {
  margin-bottom: 0.5rem;
}

.yy-privacy ol {
  list-style-type: none;
}

.yy-privacy ol > li {
  counter-increment: cnt;
}

.yy-privacy ol > li:before {
  content: "(" counter(cnt) ") ";
}

.yy-emphasis {
  background-color: #ffdb5d;
  font-weight: bold;
}

.yy-notifications {
  font-size: 80%;
}

.yy-unreadnotification-mark {
  margin: auto;
  color: red;
  font-size: 10%;
}

/*# sourceMappingURL=mystyles.css.map */
