// ↓↓↓↓↓ my variables ↓↓↓↓↓

// ↑↑↑↑↑ my variables ↑↑↑↑↑

// ↓↓↓↓↓ Laravel framework variables ↓↓↓↓↓
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
// $brand-primary: #00afcc;
$primary: #00afcc;
// $primary: red;


// $brand-success: #3cb37a;
$success: #3cb37a;

// $brand-danger: #FF7F8F;
$danger: #FF7F8F;


// Typography
$font-family-sans-serif: "Raleway", sans-serif;
// $font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
// $input-border-focus: lighten($brand-primary, 25%);
$input-border-focus: lighten($primary, 25%);

$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;
// ↑↑↑↑↑ Laravel framework variables ↑↑↑↑↑
